@import '../generic';

.projects {
    margin:  128px 0;

    h2, h5 {
        display: inline-block;
        position: relative;
        left: 50px;
        margin: 10px 0;
    }

    h5 {
        opacity: 0.7;
    }
    
    &:first-of-type {        
        margin-top: 256px;
    }
}

/* ^^^ Main Block ^^^ */
.crawl {
    position: relative;

    margin: 90px 0;
    padding: 38px 0;
    
    list-style-type: none;
    overflow: hidden;

    .card {
        position: relative;

        width: 110%;
        margin: 0 0 -32px 0;
        padding: 256px calc(40px + 48px);
        top: -10%;

        background: var(--picture);
        background-position: center;
        background-size: cover;
        // background-attachment: fixed;
        border-radius: $border-radius;
        box-shadow: 1px -1px 10px $primary-color;
        // transition: all 0.5s ease-out;

        a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0; left: 0;

            .name, .button {
                position: absolute;
                padding: 0 10px;

                background: #{$primary-color}8F;
                border-radius: $border-radius;
                color: $font-color-light;
            }

            .name {
                display: inline-block;
                
                top: 50%;
                left: 40px;
                transform: translateY(-50%);
                font-size: 40px;
            }

            .button {
                width: auto;
                top: 10px;
                left: 10px;
                
                font-size: 32px;
                opacity: 0;
                transition: all 0.2s ease-out 0.1s;
            }
        }

        &:hover {
            a {
                .button {
                    opacity: 1;
                }
            }
        }
    }
}

@include media-sl {
    .crawl {
        .card {
            padding: 128px 0;
            a {
                .name {
                    font-size: 28px;
                }

                .button {
                    font-size: 12px;
                }
            }
            
            &:hover {
                a {
                    .name {
                        opacity: 1;
                    }
                }
            }
        }
    }
}