@import '../generic';

.projects {
    margin-top:  256px;

    h5 {
        margin: 0 10%;
        opacity: 0.7;
    }
    h2 {
        display: inline;
        margin: 0 10%;
    }
}

/* ^^^ Main Block ^^^ */
.crawl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    position: relative;

    width: 100%;
    margin: 0px;
    padding: 0px;
    
    justify-items: center;

    .card {
        display: flex;
        z-index: 1;
        position: relative;
        width: 450px;
        height: 350px;
        margin: 40px;      

        background: var(--picture);
        background-size: cover;
        background-position: center;

        justify-content: center;        
        align-items: center;

        .button {
            position: absolute;
            width: fit-content;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            
            font-size: 48px;
            opacity: 0;
            transition: all 0.2s ease-out 0.1s;
        }

        .name {
            display: inline-block;
            
            color: $font-color-dark;

            opacity: 1;
            transition: all 0.1s ease-in;
            font-size: 48px;
        }
        
        &:hover {
            .name {
                opacity: 0;
            }
            .button {
                opacity: 1;
            }
        }
    }
}

@include media-lg {
    .crawl {
        .card {
            width: 270px;
            height: 210px;

            .button {
                font-size: 38px;
            }

            .name {
                font-size: 22px;
            }
        }
    }
}


@include media-md {
    .crawl {
        grid-template-columns: repeat(1, 1fr);
    }
}