# init
**/__init__.py

# pycache
**/__pycache__/

# migrations
**/migrations/

# tests
**/tests.py

# env
**/djangoenv

# pass
secure.txt

# IDE
/.idea

#files
/static/colors*.png
**/*.css.map
**/*.png
**/*.svg
**/*.jpg
**/*.jpeg