@import '../generic';

/* ^^^ about ^^^ */
#about {
    display: grid;
    padding-top: 256px;
}

.white-text {
    color: $secondary-color-light;
}

/* All componets */
.my-past {
    display: flex;
    position: relative;
    
    margin: 128px 32px;
    min-height: 50vh;
    // opacity: 0.0;
    // transform: translate(0, 100px);
    transition: all 0.5s ease-in-out;
    align-items: center;

    background: var(--picture);
    background-size: cover;
    background-position: center;
    border-radius: $border-radius;

    &[right] {
        justify-content: right;
        .wrapper {
            align-items: flex-end;
            h3, h6 {
                justify-content: right;
                text-align: right;
            }
        }

        img {
            left: 0px;
        }
    }

    &[left] {
        .wrapper {
            align-items: flex-start;
        }

        img {
            right: 0px;
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;

        h3, h6 {
            margin: 0;
            padding: 0px 12px;
        }

        h3  {
            font-size: 3em;
        }

        h6  {
            width: 80%;
        }

        p {
            margin: 32px 0px;
            padding: 0px 12px;
            background-color: #{$primary-color}AA;
            color: $font-color-light;
            font-size: 2em;
            width: 80%;
            text-align: justify;
        }
    }

    img {
        position: absolute;
        z-index: -1;
        max-height: 100%;
        max-width: 100%;
        border-radius: $border-radius;
    }

    &.content-appear {
        opacity: 1.0;
        transform: translate(0px, 0px);
    }
}

@include media-md {
    .my-past {
        margin: 64px 32px;
        min-height: 25vh;

        .wrapper {
            h3 {
                font-size: 2em;
            }
            p {
                font-size: 20px;
            }
        }
    }
}

.pins {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
    
    .pin {
        display: flex;

        margin: 20px;
        min-width: 120px;
        width: auto;
        height: 100px;

        align-items: center;
        justify-content: space-evenly;


        border-radius: 16px;
        background: linear-gradient(0deg, var(--c1), var(--c2));

        font-weight: $font-bold;
        color: $font-color-light;
        text-shadow: 1px 1px 2px black;

        transform: rotateZ(-35deg);
    }
}

@include media-sl {
    .my-past {
        .wrapper {
            width: 100%;
        }
    }

    .pins {
        .pin {
            min-width: 80px;
            height: 50px;
        }
    }
}