@import '../generic';

/* ^^^ about ^^^ */
#about {
    display: grid;
    padding-top: 256px;
}

/* All componets */
.my-past {
    display: flex;
    position: relative;
    
    margin: 25vh 32px;
    
    align-items: center;

    &[right] {
        justify-content: right;
        div {
            align-items: flex-end;
        }

        img {
            left: 0px;
        }
    }

    &[left] {
        justify-content: left;
        div {
            align-items: flex-start;
        }

        img {
            right: 0px;
        }
    }

    div {
        display: flex;
        flex-direction: column;
        width: 60%;

        h3  {
            margin: 0;
            padding: 0px 12px;
            font-size: 3em;

            // background: $font-gradient;
            // background-clip: text;
            // -webkit-text-fill-color: transparent;
        
            // &::selection {
            //     background: #33339930;
            // }
        }

        h6  {
            margin: 0;
            width: 80%;
            display: flex;
            justify-content: center;
        }

        p {
            margin: 0;
            padding: 0px 12px;
            background-color: #{$primary-color}AA;
            color: $font-color-light;
            font-size: 2em;
            width: 80%;
            text-align: justify;
        }
    }

    img {
        position: absolute;
        z-index: -1;
        width: 60%;
        border-radius: $border-radius;
    }
}

@media screen and (max-width: 877px) {
    .my-past {
        display: flex;
        flex-wrap: wrap;
    }
}

.my-skills {
    list-style-type: none;
    
    li {
        margin: 5px;
    }
}