/* ^^^ about ^^^ */
#about {
    display: grid;
    align-items: center;
    justify-content: center;

    background-color: #0F0F0F;
}

/* All componets */
.my-past {
    display: flex;
    position:relative;
    
    width: 700px;
    height: 400px;
    padding: 10px;
    margin: 40px 30px;
    
    align-items: center;
    justify-content: center;

    border-radius: 64px;
    box-shadow: 25px 25px 40px -15px #13950C;
    transition: all 0.2s ease-out;
}

.my-past:hover {
    box-shadow: 0px 0px 40px 10px #13950C, 0px 0px 20px 5px #13950C inset;
    transform: scale(1.01);
}

.picture {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@media screen and (max-width: 877px) {
    .my-past {
        display: flex;
        flex-wrap: wrap;
    }
}

.my-text {
    padding: 64px;
    font-size: 32px;
    color: #FCFAFE;
    text-align: justify;
}

#about img {
    width: 130px;
    padding: 0px 32px;
    align-items: center;
}

/* ^^^ My Past 1 ^^^ */
.page {
    background-color: #13131d;
}

.page-1 {
    background: url("./space.jpeg");
}

.content-1 {
    background: linear-gradient(#00000080, #00000080), url("./space.jpeg");
}

/* ^^^ My Past 2 ^^^ */
.page-2 {
    background: url("./inspiration.jpeg");
}

.content-2 {
    background: linear-gradient(#00000080, #00000080), url("./inspiration.jpeg");
}

/* ^^^ My Past 3 ^^^ */
.page-3 {
    background: url("./code2.jpeg");
}

.content-3 {
    background: linear-gradient(#00000080, #00000080), url("./code2.jpeg");
    display: flex;
    flex-wrap: wrap;
}

.page-3 img {
    filter: hue-rotate(300deg);
}

/* - Skills Levels - */
h3 {
    color: #F71735;
    font-size: 64px;
    margin: 0px
}

.my-skills {
    display: block;
    position: relative;
    
    width: 100%;
    
    padding: 0px;
    margin: 0px;
}

.lang {
    position: relative;
    display: block;

    padding: 0px;
    margin-bottom: 40px;
    
    border-bottom: solid 6px #AEADF063;    
}

.lang span {
    position: absolute;
    bottom: -6px;
    font-size: 28px;    
    border-bottom: solid 6px #F71735;    
}

.python {
    width: 50%;
}

.sql {
    width: 10%;
}

.cpp {
    width: 15%;
}

.html {
    width: 20%;
}

.office {
    width: 60%;
}
