#top-bar {
    position: absolute;
}

/* ^^^ Introduction Picture ^^^ */
#introduction {
    height: 100%;
    width: 100%;
    
    background: url("./code.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    scroll-snap-align: start;
    
    h1 {
        display: flex;
        
        margin: 0;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
    
        font-family: 'Square Peg', cursive;
        background: #000D;
    }
}

/* ^^^ Part II ^^^ */
#main-block {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content:center;

    padding: 220px 0px;

    .content-box {
        position: relative;

        margin: 64px;
        width: 425px;
        height: 425px;

        background: var(--img);
        background-size: cover;

        border-radius: 64px;
        box-shadow: -7px 7px 10px 9px #000000;

        transition: all 0.2s ease-out;
        
        &:hover {
            box-shadow: -7px 7px 25px 9px #000000;
            transform: scale(1.01);
        }

        a {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
        
            text-align: center;
            color: #F71735;
            
            span {
                align-self: center;
                font-weight: 700;
                font-size: 64px;
            }
        }
    }
}