@import '../generic';

#top-bar {
    position: absolute;
    z-index: 1;
}

/* ^^^ Introduction Picture ^^^ */
#introduction {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    
    align-items: flex-end;
    .wrapper {
        width: 100%;
        height: 30vh;
        z-index: 1;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: url("./myphoto.png");
        background-size: 60vh;
        background-repeat: no-repeat;
        background-position: 75% bottom;
        filter: grayscale(100%);
    }

    // h1 {
    //     // z-index: 1;
    //     // font-family: $font-family;
    // }

    // img {
    //     position: absolute;
    //     bottom: 0;
    //     right: 12%;

    //     z-index: 0;
    //     width: auto;
    //     height: 90%;

    //     filter: brightness(0.5)
    // }
}

/* ^^^ Part II ^^^ */
#main-block {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content:center;

    padding: 220px 0px;

    .content-box {
        position: relative;

        margin: 64px;
        width: 425px;
        height: 425px;
        transform: translate(0px, 100px);
        opacity: 0.0;

        background: var(--img);
        background-size: cover;

        border-radius: 8px;
        box-shadow: -7px 7px 10px 9px $secondary-color-dark;

        transition: all 0.5s ease-in-out;
        
        a {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
        
            text-align: center;
            color: $primary-color-light;
            
            span {
                align-self: center;
                font-weight: $font-extra-light;
                font-size: 64px;
                transition: all 0.2s ease-out;
                background: #0008;

                &:hover {
                    box-shadow: -7px 7px 25px $secondary-color-dark;
                    transform: scale(1.01);
                }
            }
        }
        
        &.content-appear {
            opacity: 1.0;
            transform: translate(0px, 0px);
        }
    }
}