@import '../generic';

/* ^^^ Introduction Picture ^^^ */
#introduction {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    
    align-items: flex-end;

    .huge-h {
        z-index: -1;
        position: absolute;
        font-size: 24vw;
        letter-spacing: 18px;
        margin: 0px;
        top: 0%;
        color: $font-color-light;
        text-shadow: 0px 0px 200px #{$secondary-color-light};
    }

    overflow-x: clip;
    .blob {
        z-index: -1;
        position: absolute;
        margin: 0px;
        bottom: -25%;
        right: -10%;
    }

    .wrapper {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 60%;
        z-index: 1;

        padding: 0px 20px 0 50px;

        .row {
            width: 60%;

            h1, h5, p {
                margin: 15px 0;
            }

            h5 {
                font-size: 15px;
                letter-spacing: 5px;
                opacity: 0.8;
            }

            p {
                font-size: 22px;
            }
        }
    }
}

@include media-md {
    #introduction {
        .wrapper {
            .row {
                width: 100%;
            }
        }
    }
}

@include media-sl {
    #introduction {
        .wrapper {
            .row {
                h1 {
                    font-size: 36px;
                }
                p {
                    font-size: 18px;
                }
            }
        }
    }
}

/* ^^^ Part II ^^^ */
#main-block {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content:center;

    padding: 220px 0px;

    .content-box {
        position: relative;

        margin: 64px;
        width: 425px;
        height: 425px;
        transform: translate(0px, 100px);
        opacity: 0.0;

        background: var(--img);
        background-size: cover;
        // filter: grayscale(100%);

        border-radius: 8px;
        box-shadow: -7px 7px 10px 9px $secondary-color-dark;

        transition: all 0.5s ease-in-out;
        
        a {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
        
            justify-content: center;
            text-align: center;
            color: $font-color-light;
            
            span {
                align-self: center;
                font-weight: $font-extra-light;
                font-size: 64px;
                transition: all 0.2s ease-out;
                background: #0008;

                &:hover {
                    box-shadow: -7px 7px 25px $secondary-color-dark;
                    transform: scale(1.01);
                }
            }
        }
        
        &.content-appear {
            opacity: 1.0;
            transform: translate(0px, 0px);
        }
    }
}

@include media-md {
    #main-block {
        .content-box {
            a {
                span {
                    font-size: 48px;
                }
            }
        }
    }
}