/* FONTS */
/* Source Sans Pro 400/400italic */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap');

/* ^^^ Default ^^^ */
body {
    margin: 0;
    padding: 0;
    background: #0F0F0F;
    color: #FCFAEF;
    font-family: "Source Sans Pro", sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
    border-radius: 6px;
}

body::-webkit-scrollbar-track {
    background: #011627;
}

body::-webkit-scrollbar-thumb {
    background: #AEADF0
}

@keyframes scrollikon {
    0% { transform: scale(1.0) rotate(0deg); }
    25% { transform: scale(1.05) rotate(15deg); }
    75% { transform: scale(1.15) rotate(-15deg); }
    100% { transform: scale(1.2) rotate(0deg); }
} @-moz-keyframes scrollikon {
    0% { transform: scale(1.0) rotate(0deg); }
    25% { transform: scale(1.05) rotate(15deg); }
    75% { transform: scale(1.15) rotate(-15deg); }
    100% { transform: scale(1.2) rotate(0deg); }
} @-o-keyframes scrollikon {
    0% { transform: scale(1.0) rotate(0deg); }
    25% { transform: scale(1.05) rotate(15deg); }
    75% { transform: scale(1.15) rotate(-15deg); }
    100% { transform: scale(1.2) rotate(0deg); }
} @-webkit-keyframes scrollikon {
    0% { transform: scale(1.0) rotate(0deg); }
    25% { transform: scale(1.05) rotate(15deg); }
    75% { transform: scale(1.15) rotate(-15deg); }
    100% { transform: scale(1.2) rotate(0deg); }
}

#scroll {
    position: fixed;
    right: 32px;
    bottom: 32px;
    cursor: pointer;
    
    opacity: 0.0;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;

    background: #13950C;
    border-radius: 50%;
}

#scroll.fade {
    opacity: 1.0;
}

#scroll img {
    width: 48px;
    height: 48px;
}

#scroll:hover {
    animation: scrollikon 0.3s ease-in-out 1 alternate;
    -o-animation: scrollikon 0.3s ease-in-out 1 alternate;
    -moz-animation: scrollikon 0.3s ease-in-out 1 alternate;
    -webkit-animation: scrollikon 0.3s ease-in-out 1 alternate;
    transform: scale(1.2);
}

h1 {
    text-align: center;

    color: #F71735;
    font-size: 120px;
}

a {
    text-decoration: none;
    /* color: #011627; */
    color: #7E158E;
    transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    -moz-transition-duration: 0.25;
    -webkit-transition-duration: 0.25;
}

a:hover {
    /* color: #03335A; */
    color: #7E158E;
}

hr.top-line {
    position: relative;
    z-index: -10;

    margin: 0px;
    height: 1px;

    border: none;
    background-image: linear-gradient(to right, #320738, #7E158E, #320738);
    box-shadow: 0px 20px 20px 20px #7E158E;
}

hr.bottom-line {
    overflow: hidden;
    position: relative;
    z-index: -10;

    margin: 0px;
    height: 1px;

    border: none;
    background-image: linear-gradient(to right, #320738, #7E158E, #320738);
    box-shadow: 0px -20px 20px 20px #7E158E;
}

/* ^^^ Top Bar ^^^ */
#top-bar {
    width: 100%;
    height: 96px;
    font-size: 32px;
}

#top-bar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 16px;
    width: 64px;
    height: 64px;
    
    box-shadow: 1px 1px 20px 10px #7E158E, -10px -10px 20px 20px #7E158E inset;
    border-radius: 25%;
}

.links {
    margin-right: 16px;
    list-style-type: none;
}

.links li {
    display: inline-block;
    border-radius: 8px;
    padding-inline-end: 32px;
    padding-inline-start: 32px;
    margin: 0px 6px;
    
    transition-duration: 0.25s ;
    -o-transition-duration: 0.25s ;
    -moz-transition-duration: 0.25s ;
    -webkit-transition-duration: 0.25s ;
}

.links li:hover {
    /* background: #FD840C; */
    background: #1F1F1F;
}

.links > li > a > span {
    text-shadow: 0px 0px 20px #7e158e, 0px 0px 50px #7e158e;
}

@media screen and (max-width: 877px) {
    .links {
        font-size: 28px;
    }
    .links li {
        padding-inline-end: 0px;
        padding-inline-start: 0px;
    }
    .logo {
        margin: 0px;
        padding-right: 8px;
    }
}

/* ^^^ Bottom Bar ^^^ */
#bottom-bar {
    position: relative;
    display: flex;

    width: calc(100% - 32px);
    height: 128px;
    padding : 0px 16px;

    align-items: center;
}

.info {
    position: relative;
    width: 50%;
}

.rest {
    position: relative;
    width: 50%;
}

.rest ul {
    list-style-type: none;
}
