{% extends 'index.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'contact/contactstyle.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <h1 class="gradient-text">GET IN TOUCH</h1>
    <div id="input-form">
        <form method="POST" class="my-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="buttons">
                <input type="submit" value="Submit" class="btn" onClick="thanks()">
                <input type="button" value="Reset" class="btn" onClick="this.form.reset()">
            </div>
        </form>
        <div class="offer">
            <h3>What can I possible offer to you?</h3>
            <h2>Well 😎</h2>
            <ul class="quality">
                <li>
                    <div></div>
                    <div>Low</div>
                    <div>Medium</div>
                    <div>High</div>
                </li>
                {% for offer in offers %}
                <li>
                    <div>{{ offer }}</div>
                    <div>_</div>
                    <div>_</div>
                    <div>✔️</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'contact/submit.js' %}"></script>
{% endblock %}
