<!DOCTYPE html>
<html lang="pl-PL en-US">
{% comment %} <!-- HEAD OF THE SITE --> {% endcomment %}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'basestyle.css' %}" type="text/css">
    {% block header %}
    {% endblock %}

    <title>{{ name }}</title>

</head>
{% comment %} <!-- BODY OF THE SITE --> {% endcomment %}
<body>
    
    {% comment %} <!-- Top Bar --> {% endcomment %}
    <div id="top-bar">
        <ul class="links">
            {% if site != "main" %}<li><a href="/"><span>Jarek Skwarczek</span></a></li>{% endif %}
            {% if site != "about" %}<li><a href="/about/"><span>About Me</span></a></li>{% endif %}
            {% if site != "projects" %}<li><a href="/projects/"><span>My Projects</span></a></li>{% endif %}
            {% if site != "contact" %}<li><a href="/contact/"><span>Contact</span></a></li>{% endif %}
        </ul>
    </div>

    {% comment %} <!-- Main Block --> {% endcomment %}
    {% block content %}

    {% endblock %}

    {% comment %} <!-- Bottom Bar --> {% endcomment %}
    <div id="bottom-bar">

        {% comment %} <!-- Informations --> {% endcomment %}
        <div class="info">
            <!-- <i class="fa-brands fa-square-github"></i> -->
            <i class="fab fa-github"></i>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, qui!</p>
        </div>

        {% comment %} <!-- A little more info --> {% endcomment %}
        <div class="rest">
            <ul>
                <li>Contact</li>
                <li>Phone number: 123456789</li>
                <li>email: random123@email.com</li>
            </ul>
        </div>

    </div>

    <div id="scroll"><img src="{% static 'arrowup.png' %}" alt="Scroll button"></div>

    <script type="text/javascript" src="https://kit.fontawesome.com/6d2ea823d0.js"></script>
    <script type="text/javascript" src="{% static 'basescript.js'%}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>