{% extends 'index.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'main/mainstyle.css' %}" type="text/css">
{% endblock %}

{% block content %}

    {% comment %} <!-- Big Picture --> {% endcomment %}
    <div id="introduction">
        <h1 class="huge-h">Science</h1>
        <div class="wrapper">
            <div class="row">
                <h5>Jarek Skwarczek</h5>
                <h2 class="gradient-text">Self taught Student<br>Programer | Coder <!-- 👍 --></h2>
                <p>
                    Comes with passion to programing for several years.
                    I'm always looking for new challenges.
                    I feel confident of my skills so I am looking for my
                    first job in <b>IT</b>. Feel free to contact me at any time.
                </p>
            </div>
        </div>
        <!-- <img src="{% static 'main/myphoto.png' %}" alt="Me :D"> -->
        <img class="blob" src="{% static 'main/blob.png' %}" />
    </div>

    {% comment %} <!-- Main Part II --> {% endcomment %}
    <div id="main-block">

        {% comment %} <!-- First box --> {% endcomment %}
        <div class="content-box" style="--img:url(./landscape.jpg);">
            <a href="/about/">
                <!-- <img src="{% static 'main/typing.jpg' %}" class="image" alt="Me typing"> -->
                <span>About Me</span>
            </a>

        </div>

        {% comment %} <!-- Second box --> {% endcomment %}
        <div class="content-box" style="--img:url(./mywork.jpg);">
            <a href="/projects/">
                <!-- <img src="{% static 'main/typing2.jpeg' %}" class="image" alt="Me typing"> -->
                <span>My Work</span>
            </a>
        </div>

        {% comment %} <!-- Third box --> {% endcomment %}
        <div class="content-box" style="--img:url(./textme.jpg);">
            <a href="/contact/">
                <!-- <img src="{% static 'main/contact.jpeg' %}" class="image" alt="Me typing"> -->
                <span>Text Me</span>
            </a>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'main/mainscript.js'%}"></script>
{% endblock %}
