{% extends 'index.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'main/mainstyle.css' %}" type="text/css">
{% endblock %}

{% block content %}

    {% comment %} <!-- Big Picture --> {% endcomment %}
    <div id="introduction">
        <h1>I kinda like it</h1>
    </div>

    {% comment %} <!-- Main Site Content --> {% endcomment %}
    <div id="main-block">

        {% comment %} <!-- First box --> {% endcomment %}
        <div class="content-box">
            <a href="/about/">
                <img src="{% static 'main/typing.jpg' %}" class="image" alt="Me typing">
                <span>A Little About Me</span>
                <p class="move-box">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti cumque id
                    doloremque aliquam! Quidem ut provident nesciunt quasi fugit ab iure ipsum
                    veritatis eos libero quae, vel magni illo qui. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, libero.
                </p>
            </a>

        </div>

        {% comment %} <!-- Second box --> {% endcomment %}
        <div class="content-box">
            <a href="/projects/">
                <img src="{% static 'main/typing2.jpeg' %}" class="image" alt="Me typing">
                <span>My Amazing Creations</span>
                <p class="move-box">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde tempora, dignissimos corporis maiores sunt similique,
                    soluta enim molestiae atque porro incidunt, iusto neque? At eos doloremque, hic tempore sequi maxime amet ab,
                    officiis voluptatum nulla quibusdam laborum fuga nostrum, necessitatibus labore earum molestias.
                    Vero qui repudiandae culpa sed nemo laudantium magni ducimus soluta maxime? Dolorem similique aliquam rerum aut provident!
                </p>
            </a>
        </div>

        {% comment %} <!-- Third box --> {% endcomment %}
        <div class="content-box">
            <a href="/contact/">
                <img src="{% static 'main/contact.jpeg' %}" class="image" alt="Me typing">
                <span>A Way To Contact</span>
                <p class="move-box">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde tempora, dignissimos corporis maiores sunt similique,
                    soluta enim molestiae atque porro incidunt, iusto neque? At eos doloremque, hic tempore sequi maxime amet ab,
                    officiis voluptatum nulla quibusdam laborum fuga nostrum, necessitatibus labore earum molestias.
                    Vero qui repudiandae culpa sed nemo laudantium magni ducimus soluta maxime? Dolorem similique aliquam rerum aut provident!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, enim!
                </p>
            </a>
        </div>

    </div>

{% endblock %}
