{% extends 'index.html' %}
{% load static %}
{% load filters %}

{% block header %}
    <link rel="stylesheet" href="{% static 'projects/projectsstyle.css' %}" type="text/css">
{% endblock %}

{% block content %}

    {% comment %} <!-- Main Site Content --> {% endcomment %}
    <div class="projects">
        <h5>All I WILL EVER ACHIEVE</h5>
        <br>
        <h2 class="gradient-text">My public activity</h2>
        <ul class="crawl">
            {% for project in projects %}
            
            {% if project.name != "Ridgeso" %}
            
            {% with temp=forloop.counter0|mod:back_counter %}
            <li class="card" style="--picture:url({{ './back{}.jpg'|format:temp }});">
                {% endwith %}
                <a href="{{ project.link }}" target="_blank">
                    <span class="button"><i class="fab fa-github"></i> GitHub</span>
                    <span class="name">{{ project.name }}</span>
                </a>
            </li>
            {% endif %}

            {% endfor %}
        </ul>
    </div>


    {% comment %} <!-- Inner Projects --> {% endcomment %}
    <div class="projects">
        <h5>USELESS BUT STILL</h5>
        <br>
        <h2 class="gradient-text">For Relaxation?</h2>
        <ul class="crawl">
            {% for game in games %}
                <li class="card" style="--picture:url({% static game.img %});">
                <a href="{{ game.url }}">
                    <span class="button"><i class="fa-solid fa-gamepad"></i> Play</span>
                    <span class="name">{{ game.title }}</span>
                </a>
            </li>
            {% endfor %}
            <div id="bow"></div>
        </ul>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'projects/projectsscript.js'%}"></script>
{% endblock %}
