{% extends 'index.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'projects/projectsstyle.css' %}" type="text/css">
{% endblock %}

{% block content %}

    <div>
        {% comment %} <!-- Main Site Content --> {% endcomment %}
        <h1>My whole work</h1>
        <div id="crawl">
            {% for project in projects %}
            {% if project.name != "Ridgeso" %}
            <div class="card" style="--picture:url({% static project.img %});">
                <div class="button">
                    <a href="{{ project.link }}" target="_blank"> <i class="fab fa-github"></i><span> GitHub</span> </a>
                </div>
                <!-- <i class="fab fa-python"></i> -->
                <div class="name"><span>{{ project.name }}</span></div>
            </div>
            {% endif %}
            {% endfor %}
            <div id="bow"></div>
        </div>
    </div>

    <div>
        {% comment %} <!-- Inner Projects --> {% endcomment %}
        <h1>My build in projects</h1>
        <div id="crawl">
            {% for project in inner %}
            <div class="card" style="--picture:url({% static project.image_path %});">
                <div class="button">
                    <a href="{{ project.get_absolute_url }}"></i><span> GitHub</span> </a>
                </div>
                <!-- <i class="fab fa-python"></i> -->
                <div class="name"><span>{{ project.title }}</span></div>
            </div>
            {% endfor %}
            <div id="bow"></div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'projects/projectsscript.js'%}"></script>
{% endblock %}
